{%extends "baselist.html" %}


{% block title %} persons {% endblock title %}


{% block person %} active {% endblock %}


{% block nameList %}Persons{% endblock %}
<a href="addperson/"><button type="button" class="btn btn-primary">ad</button></a>

{% block list %}

<thead> 
  <tr>
    <th> # </th>
    <th> Name </th>
    <th> Surname </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Curses </th>
  </tr>
</thead>

<tbody>
  {%for person in persons %}
  <tr>
    <th scope="row">{{ person.id }} </th>
    <td>{{ person.name }} </td>
    <td>{{ person.surname }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.phone }}</td>
    <td>
      {%for curse in person.curse.all %}              
      <a href="/curse/{{curse.id}}"> {{ curse.name }} </a> 
      {%endfor%}
    </td>
    <td>  
      <div class="btn-group" role="group" aria-label="...">
        <a href="editperson/{{person.id}}/"><button type="button" class="btn btn-primary">Edit</button></a>
        <a href="deleteperson/{{person.id}}/"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </td>
  </tr>
  {%endfor%}
</tbody>

{% endblock list %}
