{%extends "baselist.html" %}


{% block title %}person info{% endblock title %}


{% block person %} active {% endblock %}


{% block nameList %}Person{% endblock %}


{% block list %}


<thead> 
  <tr>
    <th> Name </th>
    <th> Surname </th>
    <th> Birth </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Curses </th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>{{ person.name }} </td>
    <td>{{ person.surname }}</td>
    <td>{{ person.date_of_birth|date:"F j, Y" }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.phone }}</td>
    <td>
      {%for curse in person.curse.all %}              
      <a href="/curse/{{curse.id}}"> {{ curse.name }} </a> 
      <br>
      {%endfor%}
    </td>
  </tr>
</tbody>

{% endblock list %}