{%extends "baselist.html" %}


{% block title %}person info{% endblock title %}


{% block person %} active {% endblock %}


{% block nameList %}Person{% endblock %}


{% block list %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}
  </li>
</div>
{% endfor %}
</ul>
{% endif %}

<thead> 
  <tr>
    <th> Name </th>
    <th> Surname </th>
    <th> Birth </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Curses </th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>{{ persons.name }} </td>
    <td>{{ persons.surname }}</td>
    <td>{{ persons.date_of_birth|date:"F j, Y" }}</td>
    <td>{{ persons.email }}</td>
    <td>{{ persons.phone }}</td>
    <td>
      {%for curse in persons.curse.all %}              
      <a href="/curse/{{curse.id}}"> {{ curse.name }} </a> 
      <br>
      {%endfor%}
    </td>
  </tr>
</tbody>

{% endblock list %}