{%extends "baselist.html" %}


{% block title %} persons {% endblock title %}


{% block person %} active {% endblock %}


{% block nameList %}Persons{% endblock %}


{% block list %}

<thead> 
  <tr>
    <th> # </th>
    <th> Name </th>
    <th> Surname </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Curses </th>
    <th><a href="addperson/"><button type="button" class="btn btn-success">add person</button></a></th>

  </tr>
</thead>

<tbody>
  {%for person in object_list %}
  <tr>
    <th scope="row">{{ person.id }} </th>
    <td>{{ person.name }} </td>
    <td>{{ person.surname }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.phone }}</td>
    <td>
      {%for curse in person.curse.all %}              
      <a href="/curse/{{curse.id}}"> {{ curse.name }} </a> 
      {%endfor%}
    </td>
    <td>  
      <div class="btn-group" role="group" aria-label="...">
        <a href="editperson/{{person.id}}/"><button type="button" class="btn btn-primary">Edit</button></a>
        <a href="deleteperson/{{person.id}}/"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </td>
  </tr>
  {%endfor%}
</tbody>

{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </li>
{% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
{% endif %}
</ul>
{% else %}
    <h3>Your File Exam</h3>
    <p>File not yet available</p>
{% endif %}

{% endblock list %}
