{%extends "base.html" %}


{% block title %} persons {% endblock title %}


{% block person %}{% endblock %}

	
{% block curse %}{% endblock %}


{% block main_content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}
  </li>
</div>
{% endfor %}
</ul>
{% endif %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1>{% block nameList %}{% endblock %}</h1></div>

  <!-- Table -->
  <table class="table table-striped table-bordered">
    {% block list %}

    {% endblock list %}
  </table>
</div>
{% endblock main_content %}